
.myborder {
  border-style: solid;
  border-color: #d5d4d4;
  border-radius: 5px;
  padding: 15px 5px;
  margin: 5px 5px;
  text-align: center;
}

.myimage{
  width: 90%;
  height: 90%;
}

.heading {
  font-weight: bold;
}

.row {
  margin-top: 15px;
}

heading {
  font-weight: bold;
}
