<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mars Mission</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href={{ url_for('static', filename='css/style.css') }}>
</head>

<body>
  <div class="container">

    <div class="jumbotron text-center">
      <h1>Mission to Mars</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data!</a></p>
    </div>

    <!-- Craigslist Listings -->
    <div class="row" id="mars_news">
      <div class="col-xs-12">
        <h3 class="heading">Latest Mars News</h3>
        <h4 class="heading">{{ items.news_title }}</h4>
        <p>{{ items.news_p }}</p>
      </div>
    </div>
    <div class="row">
      <div class='col-xs-8'>
        <h3 class="heading">Featured Mars Image</h3>
        <img src="{{ items.featured_img_url }}" alt="featured mars image" class="myimage">
      </div>
      <div class='col-xs-4'>
        <div class="row" class="myborder">
          <h3 class="heading">Current Weather on Mars</h3>
          <p>{{ items.mars_weather }}</p>
          <p></p>
        </div>
        <div class="row">
          <h3 class="heading">Mars Facts</h3>
          {{ items.table|safe }}
        </div>
      </div>
    </div>
    <div class="row">
      {% for hemisphere_dict in image_urls %}
      <div class="col-xs-6">
        <div class="box">
          <div class="centered">
            <img src="{{ hemisphere_dict.img_url }}" alt="{{ hemisphere_dict.title }}" class="myimage">
            <h4>{{ hemisphere_dict.title }} </h4>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</body>

</html>